@charset "utf-8";

/* index以外共通 */

main {
  margin-top: 100px;
}

section {
  margin-bottom: 50px;
}

/* 固定ヘッダーと重ならないよう空要素設定  */
h2.anchor {
  display: block;
  padding-top: 110px;
  margin-top: -110px;
}

/* 小タイトルの背景 */
h2 img {
  width: auto;
  height: 80px
}

/* EVENT */
dl#event_detail {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  height: 300px;
  overflow: auto;
}

#event_detail dt {
  background-color: #01a871;
  color: #fff;
  padding: 2px 5px;
}

#event_detail h3 {
  background-color: rgba(193, 253, 228, 0.8);
  margin-top: 10px;
}




/* WORK */
#big {
  position: relative;
  height: 380px;
  padding: 20px 0;
  background-color: lightcyan;
  margin-bottom: 10px;
}

#bigimg {
  max-width: 300px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#alt {
  background-color: cadetblue;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 2px 10px;
  font-size: 18px;
  width: 90%;
  text-align: center;
}

#birdList {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px;
}

h4 {
  background-color: lightsteelblue;
  text-align: center;
  margin-bottom: 5px;
}

.jwelList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
}

/*クリックで表示・非表示切り替える*/
.display-none {
  display: none;
}


.jwelList img {
  height: 100px;
  width: auto;
}

/*ボタン設定*/
#birdList button {
  margin: 0 20px 0 0;
  padding: 3px 5px;
  width: 20%;
  background-color: aquamarine;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #01a871;
  text-shadow: 1px 1px #fff;
}

#birdList button:active {
  box-shadow: -1px -1px 1px #01a871;
}

/*ボタンがクリックされてアクティブな時の色設定*/
#birdList button.active {
  background-color: #01a871;
  color: #fff;
  text-shadow: -1px -1px #222;
}

/* CONTACT */

/* フォーム設定 */
#contact_form dl {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 3fr;
}


#contact_form dt,
#contact_form dd {
  padding: 3px 10px;
}

#contact_form dt {
  background-color: cadetblue;
}

#contact_form dd {
  background-color: darkseagreen;
}

/* 入力箇所がわかりやすいように背景色を設定 */
#contact_form input,
#contact_form textarea,
#contact_form select {
  background-color: #fff;
}

/*名前・e-mailの幅*/
#contact_form input[type=text],
#contact_form input[type=email] {
  width: 30rem;
}

/*チェックボックスの右横のスペース*/
#contact_form input[type=checkbox]#other {
  margin-left: 30px;
}

/* テキストエリア */
#contact_form textarea {
  width: 100%;
  height: 6rem;
  resize: none;
  display: block;
}

/* 送信・リセットボタン */

form button {
  background-color: cadetblue;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

form button:hover {
  background-color: aquamarine;
}

/* TOPへ戻るボタン */
#gotoTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  display: none;
}

/* ブラウザ幅が最大幅600pxのデザイン（スマホ用） */
@media (max-width: 600px) {
  main {
    margin-top: 0;
  }


  /* PCでの固定ヘッダーの重なり対策を解除  */
  h2.anchor {
    display: block;
    padding-top: 0px;
    margin-top: 0px;
  }

  /* EVENT欄の幅変更 */
  dl#event_detail {
    width: 90%;
  }

  /* TOPへ戻るボタン表示位置変更 */
  #gotoTop {
    bottom: 30px;
    right: 15px;
  }

}